<!DOCTYPE html>
<html lang="es">
<head>
	<link th:href="@{/css/bootstrap.css}" rel="stylesheet" href="../static/css/bootstrap.css"/>
	
	<script th:src="@{/js/jquery-3.6.1.min.js}" src="../static/js/jquery-3.6.1.min.js"></script>
	<script th:src="@{/js/bootstrap.js}" src="../static/js/bootstrap.js"></script>
	
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso de Spring Boot</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	  <a class="navbar-brand" href="#">Spring Boot</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	
	
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" th:href="@{/}">Inicio <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Galeria</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Post</a>
	      </li>
	    </ul>
	    <form class="form-inline my-2 my-lg-0">
	      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	    </form>
	  </div>
	</nav>
	
	<div class="container">
		<div class="col-12 mt-5">
			<h1>Nuevo Post</h1>
		</div>
		<div class="col-12">
		<form th:action="@{/home/addNewPost}" method="post" th:object="${post}" autocomplete="off">
		  <div class="form-row">
		  
		    <div class="form-group col-md-6">
		      <label for="id">Id</label>
		      <input th:field="*{id}" th:value="*{id}" type="number" class="form-control" id="id" placeholder="Identificador">
		    </div>
		    
		    <div class="form-group col-md-6">
		      <label for="descripcion">Descripción</label>
		      <input th:field="*{descripcion}" th:value="*{descripcion}" type="text" class="form-control" id="descripcion" placeholder="Descripción">
		    </div>
		    
	     	<div class="form-group col-md-6">
		      <label for="urlImag">Imagen</label>
		      <input th:field="*{urlImag}" th:value="*{urlImag}" type="text" class="form-control" id="urlImag" placeholder="Imagen">
		    </div>
		    
		    <div class="form-group col-md-6">
		      <label for="titulo">Titulo</label>
		      <input th:field="*{titulo}" th:value="*{titulo}" type="text" class="form-control" id="titulo" placeholder="Titulo">
		    </div>
		  </div>
		  <button type="submit" class="btn btn-primary">Agregar</button>
		</form>
		</div>
	</div>
	
	
</body>
</html>